@charset "utf-8";
// Importing Bulma from node_modules
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

//Colors


@import "~bulma/bulma.sass";

//Title style
h3 {
  text-decoration: underline #F7DF1E;
  font-size: 1.5rem;
}
h4 {
  font-size: 1.5rem;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	// a:hover {
	// 	color: $secondary-color;
	// }
}

/* REACt BURGER MENU*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #F7DF1E;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #F7DF1E;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: fixed;
  height: 48px;
  width:48px;
  right: 36px;
  top: 36px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #363636;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
// .bm-item-list {
//   color: #b8b7ad;
//   padding: 0.8em;
// }

/* Individual item */
// .bm-item {
//   display: inline-block;
// }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}